{% extends "base.html" %}

{% block title %}
Update Book
{% endblock %}

{% block content %}

<h2 class="mb-4">Update Book</h2>

<form method="POST">

    <div class="mb-3">
        <label class="form-label">Book Title</label>
        <input
            type="text"
            class="form-control"
            name="title"
            value="{{ book.title }}"
            required
        >
    </div>

    <div class="mb-3">
        <label class="form-label">Author</label>
        <input
            type="text"
            class="form-control"
            name="author"
            value="{{ book.author }}"
            required
        >
    </div>

    <div class="mb-3">
        <label class="form-label">Category</label>
        <input
            type="text"
            class="form-control"
            name="category"
            value="{{ book.category }}"
            required
        >
    </div>

    <div class="mb-3">
        <label class="form-label">Quantity</label>
        <input
            type="number"
            class="form-control"
            name="quantity"
            value="{{ book.quantity }}"
            min="1"
            required
        >
    </div>

    <button type="submit" class="btn btn-primary">
        Update Book
    </button>

    <a href="{{ url_for('routes.book_list') }}"
       class="btn btn-secondary">
        Cancel
    </a>

</form>

{% endblock %}

