{% extends "base.html" %}

{% block title %}
Login
{% endblock %}

{% block content %}

<div class="container mt-5" style="max-width:500px;">

<h2 class="mb-4">User Login</h2>

<form method="POST">

    <div class="mb-3">

        <label>Email</label>

        <input
            type="email"
            name="email"
            class="form-control"
            required>

    </div>

    <div class="mb-3">

        <label>Password</label>

        <input
            type="password"
            name="password"
            class="form-control"
            required>

    </div>

    <button class="btn btn-primary">
        Login
    </button>
   
    <a href="{{ url_for('routes.register') }}" class="btn btn-primary">
    Register
    </a>

    
</form>


{% endblock %}